.edit-user {
  position: absolute;
  width: 50%;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  margin: auto;
  outline: none;

  & h2 {
    background-color: #1e88e5;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-align: center;
  }

  & .card.blue.darken-1 {
    margin: 0;
  }

  &.row .col {
    padding: 0;
  }

  &.row .col.s6 {
    width: 100%;
  }

  &.row .col.offset-s3 {
    margin-left: 0;
  }
}
