@import "~materialize-css/dist/css/materialize.min.css";

ul {
  list-style: none;
}

ul,
li,
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.nav-wrapper {
  padding: 0 20px;
}

.hidden {
  display: none;
}
